body{
  background-image: url('battleship img/battleship background/map-2153535_1280.jpg');
  background-image: wrap;
}
.mainContainer{
  display: inline-block;
  display: flex;
  width: 1400px;
  height: 1400px;
  justify-content: center;
  opacity: 0.8;
  margin-top: 17vh;
}

.gameBoard{
  height: 620px;
  width: 610px;
  display: flex;
  flex-wrap: wrap;
  border: solid;
  margin-right: 5vh;
  background-image: url('battleship img/water-1330252_1280.jpg');
}

.gameBoard div{
  border: solid;
  height: 50px;
  width: 50px;
  padding-right: 5px;
  padding-bottom: 6px;
  opacity: 0.6;
  /* position: relative; */
}
.computerGameBoard{
  height: 620px;
  width: 610px;
  border: solid;
  display: flex;
  flex-wrap: wrap;
  background-image: url('battleship img/water-1330252_1280.jpg');

}
.computerGameBoard div{
  border: solid;
  height: 50px;
  width: 50px;
  padding-right: 5px;
  padding-bottom: 6px;
  opacity: 0.6;
  /* position: relative; */
}

.ingameDisplay{
  display: flex;
  margin-left: 95vh;
  background: url('battleship img/battleship new/battle new/steel-2737105_1280.jpg');
  height: 25vh;
  width: 85vh;
  padding-bottom: 3vh;
  border-radius: 3vh;

}
.shipLifeBar div{
  border: solid;

}
.captainHead{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 85%;
  border-radius: 100%;
  opacity: 0.9;
  z-index: 3;
}
.circleFace{
  border-radius: 100%;
  margin: 3vh;
  width: 31vh;
  height: 23vh;
  position: relative;

}
p{
  font-family: 'Orbitron', sans-serif;
  font-size: 5vh;
  text-align: center;
  color: silver;
  margin-top: 5vh;
  background: -webkit-linear-gradient(#F0F0F0, #989898);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-weight: 1000;
}
.userHealthBar{
  background-color: green;
  width: 200px;
  height: 228px;
  position: absolute;
  top: 1134px;
  width: 94vh;
  border: solid;
}
