/*------>how do i make captains head stationary when display messages come up
-------->
 */
div {
  box-sizing: border-box;
}

 h1{
   font-family: 'Fredericka the Great', cursive;
   text-align: center;
   font-size: 9vh;
 }
body{
  background-image: url('battleship img/battleship background/map-2153535_1280.jpg');
  background-size: contain;
}
.mainContainer{
  display: flex;
  justify-content: space-around;
  opacity: 0.8;
  margin-top: 60px;
  margin-top: -19px;
}

header {
  display: flex;
  justify-content: space-around;
  margin-top: 21px;
}
.battleshipLogo{
  height: 143px;
  opacity: 0.7;
  border-radius: 35px;
  width: 362px;
  margin-left: 70px;
}

.userArea, .computerArea {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

/* .computerArea {
  flex-grow: 1;
  display: flex;
} */

.gameBoard div, .computerGameBoard div{
  border: 1px solid;
  width: 10%;
  /* padding-right: 5px;
  padding-bottom: 6px; */
  opacity: 0.6;
  /* position: relative; */
  height: 0;
  padding-bottom: 10%; /* Make it exactly square */
}
.gameBoard, .computerGameBoard{
  /* border: solid; */
  display: flex;
  flex-wrap: wrap;
  background-image: url('battleship img/water-1330252_1280.jpg');
}

.ingameDisplay{
  display: flex;
  background: url('battleship img/battleship new/battle new/steel-2737105_1280.jpg');
  height: 25vh;
  width: 85vh;
  padding-bottom: 3vh;
  border-radius: 3vh;

}
.shipLifeBar div{
  border: solid;

}
.captainHead{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 85%;
  border-radius: 100%;
  opacity: 0.9;
}
.circleFace{
  border-radius: 100%;
  flex-basis: 40%;
  margin: 13px;
  width: 31vh;
  height: 23vh;
  position: relative;
}

.displayTextContainer {
  flex-basis: 60%;
  margin: 13px;
}

.ingameDisplay p{
  font-family: 'Orbitron', sans-serif;
  font-size: 5vh;
  text-align: center;
  color: silver;
  margin-top: -10px;;
  background: -webkit-linear-gradient(#F0F0F0, #989898);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-weight: 1000;
}

.healthAndInfo {
  display: flex;
  margin-top: 30px;
}

.shipInfo {
  flex-basis: 60%;
}

.userHealthBar{
  border: solid;
  background: url('battleship img/battleship new/battle new/steel-2737105_1280.jpg');
  flex-basis: 40%;
  margin-right: 75px;
}
.shipNumber{
  border: solid;
}
.shipsHealth{
  border: solid;
  display: flex;
  height: 60px;
}
.shipKey{
  border: solid;
  display: flex;
  align-items: center;
  flex-basis: 25%;
  background-size: cover;
}
.shipImages{
  width: 100%;
}

footer {
  height: 90px;
  color: white;
  padding: 50px;
  margin-top: 13px;
  background-image: url('battleship img/battleship new/battle new/steel-2737105_1280.jpg');
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
footer p{
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
}
h2{
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: bolder;
  background-color: grey;
  margin-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 9px;
}
h3{
  margin-top: -30px;
  font-family: 'Orbitron', sans-serif;
  font-size: 33px;
}

.carrier {
  background-image: url('battleship img/ships/carrier.jpg');
}
.battleship {
  background-image: url('battleship img/ships/battleship.jpg');
  background-position-y: -27px;
}
.destroyer {
  background-image: url('battleship img/ships/destroyer.jpg');
}
.submarine {
  background-image: url('battleship img/ships/submarine.jpg');
  background-position-y: -4px;
}
.patrol-boat {
  background-image: url('battleship img/ships/patrol boat.jpg');
  background-position-y: 63px;
}

.instructionParagraph{
  line-height: 24pt;
  margin-top: -29px;
}
